# Entorno virtual
.venv/

# Archivos compilados
__pycache__/
*.py[cod]
*.pyo

# Archivos de entorno
.env
*.log

# Archivos de sistema/IDE
.DS_Store
.vscode/

#Generated folders
EMECCI/
EMECPmaster/
EMECP/
EMMCOpenCL/

#pyinstaller
*.spec
build/
dist/